body {
    background-color: #566336;
    margin: 0px;
    margin-bottom: 100px;
}
h1 {
    color: #0F100B;
    border-bottom: solid 3px #0F100B;
    font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
    margin: 0px;
    padding: 10px;
}
.suzume h2 {
    color:#0F100B;
}
h2 {
    margin-left: 5px;
    color: #0F100B;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
h4 {
    color: #000000;
margin: 15px;
font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.suzume {
    display: box;
    margin: 0px;
    background-color: #404622;
    padding: 20px;
}
.txtsuzume {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 40px;
    margin-left: 20px;
}
img {
    height: 150px;
}
.relsuzume {
    margin: 0px;
    padding: 7px;
        display: flex;
        overflow-x: auto;
        gap: 8px;
        
}
.relsuzume img:hover {
    opacity: 1;
    height: 175px;
    border-bottom: solid 5px #0F100B;
    flex: 3;
}
.sobresuzume {
    color: #4B4453;
    margin-left: 20px;
}
img {
    border-radius: 10px;
}
iframe {
    border-radius: 10px;
}
header {
    align-items: center;
    text-align: center;
    position: sticky;
}
main {
    gap: 10px;
    display: grid;
    background-color: #404622;
    display: grid;
    opacity: 0.75;
grid-template-columns: auto;
grid-template-rows: auto;
justify-content: space-between;
}
